.container {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.ant-layout.container {
    background: url('../../assets/images/main_page_light.png') no-repeat center / cover;
    min-height: 100vh;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.ant-layout.main__container {
    background: transparent;
}

.main__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    padding: 0 24px 42px;
}

.main__footer.ant-layout-footer {
    background: transparent;
}
